*.pyc
*.ipynb_checkpoints
.env
*__pycache__/

# Virtual environments
myenv/
env/
venv/
*.venv/
ENV/

# Python virtual environment files
bin/
include/
lib/
lib64/
pyvenv.cfg

#added in hugging face
vaishnaviiii34/
